# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/key.properties
**/*.jks
**/*.keystore
android/app/*.jks
android/app/*.keystore

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Web
web/manifest.json